body {
  text-align: center;
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.tabs{
  border: 5px solid white;
  padding: 30px;
  border-top: none;
  border-radius: 30px;
  max-width: 1200px;
  width: 85%;
  margin: auto;
}

.tab {
  display: none;
}

.block {
  display: block;
}

img{
  width: 100%;
  height: 350px;
  margin: 20px 0;
  object-fit: cover;
  transition:transform 0.9s ease;
}

img:hover {
  -webkit-transform:scale(1.5); /* or some other value */
  transform:scale(1.5);
  width: 800px;
  height: 600px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px black;
  cursor:zoom-in;
}

img.pt {
  object-position: top;
}

img.th {
  object-position: center;
}

img.it {
  object-position: right 50% bottom 20%;
}

p {
  text-align: justify;
  letter-spacing: 3px;
  line-height: 30px;
}

button {
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  color: white;
  border: 3px solid white;
  border-top: none;
  box-shadow: 0px -2px 5px white;
  font-size: 1.5em;
  padding: 10px 15px;
  border-radius: 0px 00px 20px 20px;
  width: 350px;
  margin: 0px 20px;
}

button:hover {
  background: white;
  color:#203A43;
  text-decoration: underline;
  cursor: pointer;
}

.active{
  background: white;
  color:#0F2027;
  font-weight: bold;
}

h5,h6 {
  text-align: end;
  font-size: xx-small;
  font-style: italic;
}

h1 {
  margin-bottom: 50px;
}

a{
  text-decoration: none;
  color: white;
  text-decoration: underline;
}

.mapouter
{
  max-width: 1200px;
}
